* {
  font-family: 'Carrois Gothic', sans-serif;
}

html {
  width: 100%;
  height: 100%;
}

body {
  background-color: rgb(13, 13, 13);
  color:white;
  width: 100%;
  height: 100%;
}

main {
  position: absolute;
  top: 20%;
}

header {
  position: absolute;
  display: flex;
  justify-content: space-between;
  margin-bottom: 1%;
  margin-left: 10%;
  margin-right: 2%;
}

h1 {
  background: linear-gradient(to bottom, #e52d27, #b31217);
  padding: .5%;
  border-radius: calc(7px);
}

ul {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-decoration: none;
  list-style-type: none;
}

h3 {
  color: white;
}

input {
  color: black;
}
