img {
  width: 99%;
  height: 99%;
  border-radius: 3px;
}

nav {
  background: linear-gradient(to right, #e52d27, #b31217);
  display: flex;
  flex-direction: column;
  width: 5%;
  border-radius: calc(7px);
}
.profile-img {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.profile-box {
display: inline-block;
}
.search-form {
  display: inline-block;
  height: 44px;
}
#auth-ops {
  display: inline-block;
  height: 22px;
}
.settings {
  display: inline-block;
  height: 22px;
}
.about {
  display: inline-block;
  width: 100%;
  height: 22px;
}
.settings-page {
  display: none;
}
.settings-page:after {
  display:flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
