header {
  position: absolute;
  display: flex;
  justify-content: space-between;
  margin-bottom: 1%;
  margin-left: 10%;
  margin-right: 2%;
}

body {
  color:white;
}

main {
  position: absolute;
  top: 20%;
}

nav {
  background: linear-gradient(to right, #e52d27,   #b31217);
  display: flex;
  flex-direction: column;
  width: 5%;
  border-radius: calc(7px);
}

ul {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-decoration: none;
  list-style-type: none;
}

.videos {
  display: flex;
  flex-flow: wrap;
  flex-wrap: wrap-reverse;
  margin-left: 5%;
  margin-top: 5%;
  width: 90%;
  height: 90%;
  border: 5px solid white;
}
.video-cover {
  width: 20%;
}
.videoIframe {
  width: 100%;
}

/*Code for dragging elements around*/
.dragPoint {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 70%;
}
.draggable {
  cursor: move;
}
