img {
  width: 99%;
  height: 99%;
  border-radius: 3px;
}
#google-connect {
  display: inline-block;
}
#auth-ops {
  padding: 0px;
}
#sign-out {
  border-radius: 5px;
  border-style: none;
  background-color: white;
  margin: 0px;
}
.profile-img {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.profile-box {
display: inline-block;
}
.search-form {
  display: inline-block;
  height: 44px;
}
#auth-ops {
  display: inline-block;
  height: 22px;
}
.settings {
  display: inline-block;
  height: 22px;
}
.about {
  display: inline-block;
  width: 100%;
  height: 22px;
}
.settings-page {
  display: none;
}
.settings-page:after {
  display:flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
