header {
  position: absolute;
  display: flex;
  justify-content: space-between;
  margin-bottom: 1%;
  margin-left: 10%;
  margin-right: 2%;
}

body {

}

main {
  position: relative;
}

nav {
  background: linear-gradient(to right, #e52d27,   #b31217);
  display: flex;
  flex-direction: column;
  width: 5%;
  border-radius: calc(7px);
}

ul {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-decoration: none;
  list-style-type: none;
}

.videos {
  display: flex;
  flex-flow: wrap;
  flex-wrap: wrap-reverse;
  width: 94%;
}
.video-cover {
  height: 33%;
  width: 33%;
}
