#modalVideoBG {
	height: 100%;
	width: 100%;
	z-index: 100;
	opacity: 0;
	background-color: black;
	visibility: hidden;
	position: absolute;
	transition: opacity .99s linear;
}
#modalVideoWrap {
	top: 0px;
	bottom: 0px;
	right: 0px;
	left: 0px;
	margin: auto;
	width: 100%;
	height: 100%;
	opacity: 0;
	visibility: hidden;
	position: absolute;
	z-index: 100;
	transition: opacity 1s linear;
}
#modalVideo {
	top: 0px;
	bottom: 0px;
	right: 0px;
	left: 0px;
	margin: auto;
	width: 840px;
	height: 490px;
	opacity: 1;
}
#modalClose {
	top: 0px;
	right: 0px;
	width: 68px;
	height: 80px;
	padding-bottom: 10px;
	font-size: 64px;
	position: absolute;
	border: 5px solid white;
	color: white;
	background-color: transparent;
}
