#profile-img img {
  width: 100px;
  height: 100px;
  border: 5px solid  rgba(255, 255, 255, .6);
  border-radius: 50%;
}

.search-form {
  color: black;
}

.logo {
  border: none;
  width: 20%;
}

/*video grid css*/

.videos {
  display: flex;
  flex-flow: wrap;
  flex-wrap: wrap-reverse;
  margin-left: 5%;
  width: 90%;
  border: 5px solid white;
}

.video-cover {
  width: 25%;
}

.videoIframe {
  width: 100%;
}

/*Code for dragging elements around*/
.dragPoint {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 70%;
}

.draggable {
  cursor: move;
}

.about-page {
  display: none;
}
