/*controls settings page*/

body {
  background: linear-gradient(#0b0b0b, #363636);
}
.settings-page {
  display: none;
  margin-top: 5%;
  width: 80%;
  height: 80%;
}

.settings {
  margin-top: -5.5%;
}

.setting-select {
  width: 50%;
  /*margin-top: 15%;*/
}

.exit {
  display: block;
  float: right;
  margin-right: 5%;
  width: 40%;
  height: 40%;
}
